{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block title %}
Registration Form
{% endblock %} 
{% block body %}
<div
  class="p-3 text-bg-dark border border-primary-subtle rounded-3"
>
  <div class="container-fluid">
    <p class="p-3 fs-1 fw-semibold text-decoration-underline text-sm-center">Registration Form</p>
  </div>
  <div class="container-fluid">
    <form class="fs-4" action="{% url 'create_form' %}" method='POST'>
      {% csrf_token %}
      {{form|crispy}}
      <br />
      <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
  </div>
  <script src="" async defer></script>
</div>
{% endblock %}
