{% extends "base.html" %} 
{% block title %}OTP{% endblock title %} 
{% block body %} {% load crispy_forms_tags %}
<div class="p-3 text-bg-dark border border-primary-subtle rounded-3 mx-auto" style=width:320px;>
  <div class="card text-bg-dark border" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">OTP</h5>
      <form action='{% url "otp_check" %}' method="POST">
        <p class="card-text">Please enter otp received on mail.</p>
        {% csrf_token %} {{ form|crispy }}
        <br />
        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

